# Rename this file to `secrets.tfvars` before fill in the values
# This file should be ignored in the .gitignore
# Do not commit it with the plain values

elestio_email     = ""
elestio_api_token = ""
keycloak_admin_password = ""