# Rename this file to `secrets.tfvars` before fill in the values
# This file should be ignored in the .gitignore
# Do not commit it with the plain values

elestio_email     = ""
elestio_api_token = ""

# The password can only contain alphanumeric characters or hyphens `-`.
# Require at least 10 characters, one uppercase letter, one lowercase letter and one number.
keycloak_pass = ""