# Rename this file to `secrets.tfvars` before fill in the values
# This file should be ignored in the .gitignore
# Do not commit it with the plain values

elestio_email     = ""
elestio_api_token = ""

# If you want to store your ssh key in string, uncomment the following lines.:
# ssh_key = {
#   name = "admin"
#   public_key = "my_public_key..."
#   private_key = "my_private_key..."
# }
